*{
    padding: 0px;
    margin: 0px;
}

body {
    background-color: darkturquoise;
    color: rgb(116, 10, 31);
}

.container {
    align-items: center;
    justify-content: center;
    
}

.visit {
    display: flex;
    margin-left: 30px;
}

img {
    margin-top: 40px;
}

button {
    color: rgb(116, 10, 31);
    font-weight: bolder;
    padding: 10px;
    /* margin: 50px; */
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.click, .addtwo {
    background-color: #f9812A;
    box-shadow: 5px 8px 12px #99501c;
}

.reset {
    background-color: #febaad;
    box-shadow: 5px 8px 12px #976c63;
}

/* .all {
    display: flex;
} */